<!-- sign-in.html -->
<div class="grad-vertical-tb flex h-screen flex-col md:flex-row">
  <!-- Left container -->
  <div class="flex-box-col h-full w-full gap-5 p-8 md:w-3/3 md:gap-10">
    <div>
      <h1 class="text-center text-3xl font-[400] text-white md:text-5xl">
        Need full control over your business operations?
        <br />
        <span class="text-primary font-[800]">NASPOS Backoffice</span> <br />
        powers everything behind your POS.
      </h1>

    </div>
    <div>
      <img src="images/logo-curved.svg" alt="Logo" class="h-50 w-50" />
    </div>
  </div>

  <!-- Right container -->
  <div
    class="flex-box-row h-full w-full rounded-t-2xl bg-white p-8 md:w-2/3 md:rounded-tl-[50px] md:rounded-tr-none md:rounded-br-none md:rounded-bl-[50px]">
    <div class="flex w-full flex-col justify-center gap-6 p-2 sm:w-3/4 md:gap-16 lg:w-1/2 animate-fadeIn">
      <p class="mb-6 text-center text-2xl font-semibold md:text-left text-selectedobj">
        {{ 'SIGNIN.TITLE' | translate }}
      </p>

      <div class="flex flex-col gap-y-6">
        <!-- Email field -->
        <div class="flex flex-col">
          <input type="email" class="login-input-field" [placeholder]="'SIGNIN.EMAIL' | translate"
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}" required [(ngModel)]="email" name="email" />
        </div>

        <!-- Password field -->
        <div class="flex flex-col">
          <input type="password" class="login-input-field" [placeholder]="'SIGNIN.PASSWORD' | translate" minlength="6"
            required [(ngModel)]="password" name="password" />
        </div>
      </div>

      <!-- Submit Button -->
      <div class="mt-6">
        <button class="btn-primary w-full" (click)="onLogin()">
          {{ 'SIGNIN.LOGIN_BUTTON' | translate }}
        </button>

        <p *ngIf="errorMsg" class="text-red-500 mt-3 text-center text-sm">
          {{ errorMsg }}
        </p>
      </div>
    </div>
  </div>
</div>