@import "tailwindcss";
@config "../tailwind.config.js";

@import "./assets/styles/theme.css";
@import "./assets/styles/pos/index.css";
@import "./assets/styles/bofc/index.css";

:is(html.pos-theme, html.bofc-theme) .container {
  max-width: none !important;
  width: 100% !important;
}

:is(html.pos-theme, html.bofc-theme) .btn-submit {
  border: none !important;
}