<form class="flex-grow">
  <div class="form-row">
    <div class="form-group">
      <label class="block" translate>INVENTORY.TAX</label>

      <select class="input border-white-light" [(ngModel)]="selectedTaxId" (ngModelChange)="onTaxChange($event)"
        [ngModelOptions]="{ standalone: true }">

        <option>
          {{ "INVENTORY.SELECT_TAX" | translate }}
        </option>

        <option *ngFor="let store of tax" [value]="store.id">
          {{ store.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label translate>INVENTORY.TAX_CODE</label>
      <input class="input border-white-light" type="text" [value]="selectedTax?.code || ''" readonly />
    </div>
    <div class="form-group">
      <label translate>INVENTORY.TAX_RATE</label>
      <input class="input border-white-light" type="text" [value]="selectedTax?.tax_rate || ''" readonly />
    </div>

    <div class="form-group flex items-end">
      <button type="button" class="btn-primary h-10 w-full md:w-30" translate (click)="onSubmit()">
        INVENTORY.SUBMIT
      </button>
    </div>
  </div>

  <div class="form-row">

    <!-- <div class="form-group">
    <label translate>INVENTORY.INDIRECT_TAX</label>
    <input
      class="input border-white-light"
      type="text"
      [placeholder]="'INVENTORY.ENTER' | translate"
      readonly
    />
  </div> -->
  </div>

</form>