<div *ngIf="isOpen" class="modal-overlay" (click)="handleClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="my-3">
      <h3 class="text-primary-lg" translate>PURCHASING.SELECT_PRODUCTS</h3>

      <div class="my-5 flex items-center justify-between gap-3">
        <input
          class="modal-input mt-0"
          [placeholder]="'PURCHASING.SEARCH' | translate"
        />
        <button class="btn-modal">
          <i class="fa fa-filter mr-2"></i>
          <span translate>PURCHASING.FILTER</span>
        </button>
      </div>

      <ul
        *ngFor="let product of products"
        class="flex-box-row-between text-primary m-3 border-b border-gray-300 pb-2 text-lg"
      >
        <li>{{ product.id }}</li>
        <li>{{ product.name }}</li>
        <li>
          <i
            class="cursor-pointer text-3xl"
            [ngClass]="
              product.isAdded
                ? 'fa fa-check-circle text-teal'
                : 'fa fa-plus-circle text-primary'
            "
            (click)="addProduct(product)"
          ></i>
        </li>
      </ul>
    </div>
  </div>
</div>
